<template>
    <v-content>
        <v-img height="50%" src="../assets/img13.jpg">
            <v-row align="end" class="lightbox white--text pa-2 fill-height">
                <v-col>
                    <v-container>
                        <div class="headline">About Us</div>
                    </v-container>
                </v-col>
            </v-row>
        </v-img>
    </v-content>
</template>

<script>
export default {
    name: "About",

    data: () => ({}),
};
</script>
