<template>
    <v-main>
        <Hero />
        <Gallery />
        <LastestPost />
    </v-main>
</template>

<script>
import Hero from "@/components/Hero";
import Gallery from "@/components/Gallery";
import LastestPost from "@/components/LastestPost";
export default {
    name: "Home",
    components: {
        Hero,
        Gallery,
        LastestPost,
    },
    data: () => ({}),
};
</script>
