<template>
    <v-container class="mt-13">
        <h2
            class="text-center font-weight-light"
            style="font-size: 30px; padding: 0 0 10px; margin: 0 0 40px"
        >
            <span style="border-bottom: 1px solid; padding: 10px">Gallery</span>
        </h2>
        <v-row>
            <v-col
                v-for="item in items"
                :key="item.id"
                class="d-flex child-flex"
                cols="4"
            >
                <v-img :src="item.src" aspect-ratio="1" class="grey lighten-2">
                    <template v-slot:placeholder>
                        <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                        >
                            <v-progress-circular
                                indeterminate
                                color="grey lighten-5"
                            ></v-progress-circular>
                        </v-row>
                    </template>
                </v-img>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: "Gallery",

    data: () => ({
        items: [
            {
                id: 1,
                src: require("../assets/gallery-img/pexels-abhishek-gaurav-794644.jpg"),
            },
            {
                id: 2,
                src: require("../assets/gallery-img/pexels-burst-374870.jpg"),
            },
            {
                id: 3,
                src: require("../assets/gallery-img/pexels-irina-iriser-1707215.jpg"),
            },
            {
                id: 4,
                src: require("../assets/gallery-img/pexels-jeremy-bishop-2422915.jpg"),
            },
            {
                id: 5,
                src: require("../assets/gallery-img/pexels-mohamed-almari-368893.jpg"),
            },
            {
                id: 6,
                src: require("../assets/gallery-img/pexels-oziel-gómez-840666.jpg"),
            },
            {
                id: 7,
                src: require("../assets/gallery-img/pexels-pixabay-36489.jpg"),
            },
            {
                id: 8,
                src: require("../assets/gallery-img/pexels-pixabay-462030.jpg"),
            },
            {
                id: 9,
                src: require("../assets/gallery-img/pexels-paul-theodor-oja-2792116.jpg"),
            },
        ],
    }),
};
</script>
