<template>
    <v-container class="py-0">
        <v-toolbar flat>
            <v-toolbar-title class="text-uppercase" style="font-weight: 600">
                Photography
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-btn text class="font-weight-light" style="font-size: 14px">
                    <router-link to="/" class="menuLink">Home</router-link>
                </v-btn>

                <v-btn text class="font-weight-light">
                    <router-link to="/about" class="menuLink">
                        About
                    </router-link>
                </v-btn>

                <v-btn text class="font-weight-light">
                    <router-link to="/contact" class="menuLink">
                        Contact
                    </router-link>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </v-container>
</template>

<script>
export default {
    name: "Header",

    data: () => ({}),
};
</script>
<style scoped>
.menuLink {
    text-decoration: none;
    color: black;
}
</style>
