<template>
    <v-carousel hide-delimiters cycle>
        <v-carousel-item
            v-for="(item, i) in items"
            :key="i"
            :src="item.src"
            reverse-transition="fade-transition"
            transition="fade-transition"
        >
            <v-row
                class="fill-height title mt-1"
                align="center"
                justify="center"
            >
                <div
                    style="color: #ffffff; font-size: 50px"
                    class="font-weight-light"
                >
                    {{ item.title }}
                </div>
            </v-row>
        </v-carousel-item>
    </v-carousel>
</template>

<script>
export default {
    name: "Hero",

    data: () => ({
        items: [
            {
                src: require("../assets/hero-img/pexels-burak-kebapci-93820.jpg"),
                title: "We are creative",
            },
            {
                src: require("../assets/hero-img/pexels-mohamed-almari-368893.jpg"),
                title: "We are hard worker",
            },
            {
                src: require("../assets/hero-img/pexels-david-bartus-610293.jpg"),
                title: "We are professional",
            },
        ],
    }),
};
</script>
