<template>
    <v-container class="my-13">
        <h2
            class="text-center font-weight-light"
            style="font-size: 30px; padding: 0 0 10px; margin: 0 0 40px"
        >
            <span style="border-bottom: 1px solid; padding: 10px"
                >Lastest Post</span
            >
        </h2>
        <v-row>
            <v-col cols="4" v-for="item in items" :key="item.id">
                <v-card class="mx-auto" outlined>
                    <v-img
                        class="white--text align-end"
                        height="200px"
                        :src="item.src"
                    >
                        <v-card-title class="colorTransparente">{{
                            item.title
                        }}</v-card-title>
                    </v-img>

                    <v-card-subtitle class="pb-0">
                        {{ item.subtitle }}
                    </v-card-subtitle>

                    <v-card-text class="text--primary">
                        <div>{{ item.description }}</div>
                    </v-card-text>

                    <v-card-actions>
                        <v-btn color="primary" text> More </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: "LastestPost",

    data: () => ({
        items: [
            {
                id: 1,
                title: "Lorem ipsum dolor sit amet.",
                subtitle: "Sed ut perspiciatis unde omnis.",
                description:
                    "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.",
                src: require("../assets/lastest-post-img/pexels-alex-azabache-4171211.jpg"),
            },
            {
                id: 2,
                title: "Lorem ipsum dolor sit amet.",
                subtitle: "Sed ut perspiciatis unde omnis.",
                description:
                    "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.",
                src: require("../assets/lastest-post-img/pexels-jeshootscom-442573.jpg"),
            },
            {
                id: 3,
                title: "Lorem ipsum dolor sit amet.",
                subtitle: "Sed ut perspiciatis unde omnis.",
                description:
                    "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.",
                src: require("../assets/lastest-post-img/pexels-saeid-anvar-827209.jpg"),
            },
        ],
    }),
};
</script>
<style scoped>
.colorTransparente {
    background-color: rgba(53, 53, 53, 0.623);
}
</style>
