<template>
    <v-app>
        <Header />

        <router-view></router-view>

        <Footer />
    </v-app>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";

export default {
    name: "App",

    components: {
        Header,
        Footer,
    },

    data: () => ({
        //
    }),
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}
</style>
